[uwsgi]
socket = 0.0.0.0:5001

master = true
processes = 1
die-on-term = true
memory-report = true

module = pywps_app:application
virtualenv = /path/to/pywps-env
buffer-size=32768

static-map = /wps/outputs=/path/to/pywps/outputs